/* News Ticker backend page */

body {
    font-family: 'Muli', sans-serif;
    background-color: #efefef;
}
nav {
    color: #fff;
    background-color: rgba(31, 152, 234, 0.82);
    width: 100%;
    height: 64px;
}
.navbar{
    margin-bottom: 0px;
    border: none;
}
p.brand-logo.center a {
    color: #fff;
    font-size: 28px;
}
a.help {
    float: right;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 105, 148);
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-out;
    display: inline-block;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0px 2rem;
    box-shadow: 2px 2px 2px #444;
    margin-top: 12px;
    font-size: 14px !important;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    line-height: 64px;
    width: 100%;
    text-align: center;
}
a:focus {
    text-decoration: none;
}
.newsticker-container {
    display: inline-block;
    width: 100%;
    padding: 35px 20px 20px 20px;
}
.dashboardpage .col-md-3 {
    padding: 0;
    margin: 0 5px;
    max-width: 257px;
}
.dashboard-addnews{
	height: 130px;
    padding: 25px;
    text-align: center;
    border-radius: 0px;
    border: none;
    background: rgba(31, 152, 234, 0.82);
    box-shadow: 1px 1px 2px #777;
}
.dashboard-addnews a{
	color: #ffffff;
    font-size: 16px;
}
.dashboard-addnews i.fa.fa-plus {
    color: #fff;
    width: 100%;
}
a:hover{
	text-decoration: none;
}
.dashboard-showtittle {
    height: auto;
    border-color: #ddd !important;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px #ababab;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
}
.dashboard-showtittle a {
    color: #313131;
    text-transform: uppercase;
}
.news-tittle{
    padding: 6px 0;
    display: inline-block;
}
i.fa.fa-cogs {
    margin: 6px;
    width: 100%;
    color: #555;
}
.dashboardpage i {
    color: #313131;
}
.sub-maindiv {
    padding: 0;
    border-color: #ddd !important;
    border-top: 1px solid transparent;
    background-color: #eee;
    height: 30px;
}
.div-width{
	width: 30%;
}
.div-width1{
	width: 40%;
}
.sub-showdiv {
    padding: 0px;
    border-color: #aaa !important;
    border-left: 1px solid transparent;
}
.sub-showdiv:first-child {
    border-left: none;
}
.sub-showdiv a {
    text-transform: none;
    font-size: 11px;
}
.sub-showdiv i {
    padding: 9px 0;
    margin-right: 6px;
}
.alert.show {
    padding: 10px;
    margin-bottom: 15px;
}
.alert-dismissable .close{
    right: 0px;
}
ul.dashboard-note{
    padding-left: 25px;
}
.dashboard-note li {
    display: list-item;
}

/* News Ticker Edit Page */
.col-md-2, .col-md-3,
 .col-md-4, .col-md-5, .col-md-6, .col-md-10, .col-md-11, .col-md-12 {
    padding: 0px;
}
.news-details {
    background-color: #ddd;
    margin-bottom: 15px;
    padding: 15px;
}
.editnews {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px #777;
}
.editnews.left-news {
    margin-right: 10px;
}
.editnews.right-news {
    margin-left: 10px;
}
.sub-heading{
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 2px #aaa;
    color: #313131;
}
.box-space {
    padding-right: 10px;
}
button.remove-text {
    padding: 0 4px;
}
.col-md-1.form-group {
    position: absolute;
    bottom: 22px;
    right: 15px;
}
#add-details i.fa.fa-plus {
    color: #000;
    padding-right: 5px;
}
div#add-details {
    cursor: pointer;
    margin-bottom: 10px;
}
.view-shortcode{
    position: relative;
}
button.btn.tooltipped.tooltipped-s {
    position: absolute;
    bottom: 1px;
    right: 1px;
}
i.fa.fa-angle-double-left {
    font-size: 16px;
    padding-right: 5px;
}
p.top{
    margin-top: 10px;
}
.goback-right{
    float: right;
    margin-top: 6px;
    font-weight: 700;
}
.modal-dialog {
  width: 80%;
}
button.close {
    right: 20px;
    font-size: 30px;
    top: 10px;
    color: #000;
    font-weight: bold;
    opacity: 1;
}
.editnews-wrapper .breakingNews {
    margin: 0;
}
.comment {
    font-size: 11px;
}
.breakingNews a {
    color: #000;
}

/* News Ticker Add Page */

.addnews {
    background-color: #fff;
    padding: 15px 35px;
    box-shadow: 1px 1px 2px #777;
}
.section{
    display: inline-block;
    width: 100%;
}
.section h2{
    font-size: 20px;
}
hr{
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
}

/* News Ticker Help Page */
.card {
    position: relative;
    overflow: hidden;
    margin: 3.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

